@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.toastui-editor-wrapper>div {
  width: 100%;
}

.toastui-editor-defaultUI {
  border-radius: 0 !important;
}

.toastui-editor-toolbar,
.toastui-editor-defaultUI-toolbar,
.toastui-editor-dropdown-toolbar {
  height: 32px !important;
}

.toastui-editor-defaultUI-toolbar button {
  margin: 0 -2px !important;
  transform: scale(0.75);
}

.toastui-editor-toolbar-divider {
  margin: 7px !important;
}

.toastui-editor-contents {
  padding: 10px 15px !important;
}
